<div class="side-grid">
  <div class="cont">
      <div class="event date">
        today
      </div>
      <div class="event" *ngFor="let ae of events">
        <div class="time">{{ae.dateReal}}</div>
        <div class="content">{{ae.typeSource1}} - {{ae.persistenceSource1}}</div>
        <mat-divider></mat-divider>
        <div class="id">{{ae.sensor_id}}</div>
      </div>
  </div>
  <div class="cont">
    і
    <div class="event sensor" *ngFor="let asens of sensors">
      <div class="time">{{asens.name?asens.name:asens.id}}</div>
      <mat-divider></mat-divider>
      <div class="id">lat:{{asens.latitude }} - long:{{asens.longitude}}</div>
    </div>
</div>
</div>