<div class="content">
    <button style="box-shadow: 4px 0px 1px black;" mat-icon-button color="warn" [disabled]="!hasPrevious()" aria-label="E">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <div style="width: 85vw;">
            <hr style="margin-left: -0vw; margin-top: 29px;border: 1px solid black; width:84.67vw; position: relative;">
            <tab></tab>
            <div style="position: relative; margin-top: -30px; margin-left: 100px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <!-- <mat-icon>navigate_next</mat-icon> -->
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 150px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <!-- <mat-icon>navigate_next</mat-icon> -->
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 200px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <!-- <mat-icon>navigate_next</mat-icon> -->
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 250px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <!-- <mat-icon>navigate_next</mat-icon> -->
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 300px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <!-- <mat-icon>navigate_next</mat-icon> -->
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 350px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <!-- <mat-icon>navigate_next</mat-icon> -->
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 400px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <!-- <mat-icon>navigate_next</mat-icon> -->
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 450px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <!-- <mat-icon>navigate_next</mat-icon> -->
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <!--  -->
            <div style="position: relative; margin-top: -30px; margin-left: 500px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <!-- <mat-icon>navigate_next</mat-icon> -->
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 550px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <!-- <mat-icon>navigate_next</mat-icon> -->
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 600px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <!-- <mat-icon>navigate_next</mat-icon> -->
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 650px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <!-- <mat-icon>navigate_next</mat-icon> -->
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 700px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <!-- <mat-icon>navigate_next</mat-icon> -->
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 750px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <mat-icon>flight</mat-icon>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 800px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <mat-icon>flight</mat-icon>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 850px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <mat-icon>whatshot</mat-icon>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 900px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <mat-icon>emoji_nature</mat-icon>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 950px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <mat-icon>two_wheeler</mat-icon>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 1000px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <mat-icon>local_fire_department</mat-icon>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 1050px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <mat-icon>directions_run</mat-icon>
            </div>
            <div style="position: relative; margin-top: -30px; margin-left: 1100px;" class="button">
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <div class="hex">
                <div></div>
                <div></div>
                <div></div>
              </div>
              <mat-icon>agriculture</mat-icon>
            </div>
    </div>
    <button style="box-shadow: -4px 0px 1px black; " [disabled]="!hasNext()" mat-icon-button color="warn" aria-label="E">
      <mat-icon>navigate_next</mat-icon>
    </button>
</div>