.vertical-bar{
    position: absolute;

    right: 0%;

    width: 20.5%;
    height: 100%;

    color: white;
    text-align: center;
    font-family: fantasy;

    background-color: rgb(23, 23, 23);
    box-shadow: -2px 0px 2px black;
}
.vertical-bar > strong{
    font-size: 40px;
}
.vertical-bar > p{
    font-size: 24px;
    margin: auto;
}
.mat-icon{
    height:128px !important;
    width:128px !important;
    font-size:128px !important;
}