.container {
    position: relative;
    min-height: 200px;
    height: 100%;
  }
.table-container {
    position: relative;

    height: 90.99%;

    overflow: auto;

    background-color: lightgray;
}
table {
    width: 100%;
}
.mat-header-cell{
  color: lightgray;
  background-color: rgb(23, 23, 23);
}
.mat-sort-header-arrow{
  color: lightgray;
}
.mat-paginator, .mat-paginator-page-size .mat-select-trigger{
  color: lightgray;
  background-color: rgb(23, 23, 23);
}
button{
  width: 60px !important; height: 60px !important;
  margin-left: -10px; margin-right: auto;
  color: rgb(23, 23, 23) !important;
  transition: 300ms;
}
.mat-icon{
  position: relative;
  top: 13px;
  height:50px !important;
  width:50px !important;
  font-size:50px !important;
  transition: 400ms;
}