/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,700&display=swap');
@import '~ngx-toastr/toastr';

:root {
    --primary-color: #fff;
    --background-color: #E2E5E9;
    --secondary-color: #2d2d2d;
    --text-color: #2d2d2d;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
