<!-- <div class="navbar"> -->
    <!-- <div class="left">

    </div> -->
    <div class="right">
        <div class="title">
            <strong>Events</strong>
         </div>
        <div class="container">
  <mat-divider></mat-divider>
            <div style="text-align: center;"> today </div>
            <mat-list>
  <mat-divider></mat-divider>
  <mat-list-item>
    <table style="width: 84%;">
        <tr>
            <td style="text-align: left;">14.56</td>
            <td style="text-align: right;">on map</td>
        </tr>
        <tr>
            <td style="text-align: right;">86%</td>
            <td style="text-align: left;"> - car</td>
        </tr>
        <tr>
            <td style="text-align: right;">14%</td>
            <td style="text-align: left;"> - track</td>
        </tr>
    </table>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <table style="width: 84%;">
        <tr>
            <td style="text-align: left;">14.56</td>
            <td style="text-align: right;">on map</td>
        </tr>
        <tr>
            <td style="text-align: right;">86%</td>
            <td style="text-align: left;"> - car</td>
        </tr>
        <tr>
            <td style="text-align: right;">14%</td>
            <td style="text-align: left;"> - track</td>
        </tr>
    </table>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <table style="width: 84%;">
        <tr>
            <td style="text-align: left;">14.56</td>
            <td style="text-align: right;">on map</td>
        </tr>
        <tr>
            <td style="text-align: right;">86%</td>
            <td style="text-align: left;"> - car</td>
        </tr>
        <tr>
            <td style="text-align: right;">14%</td>
            <td style="text-align: left;"> - track</td>
        </tr>
    </table>
  </mat-list-item>
</mat-list>
        <!-- <li class="element" *ngFor="let ev of events">
            Sensor #{{ev.sensor_id}}<br>
            detected {{ev.typeSource1}}
        </li> -->
    </div>
    <div class="title">
        <strong>Sensors</strong> 
     </div>
    <div class="container">
        <li class="element" *ngFor="let sen of sensors">
            {{sen.id}} - {{sen.state}}<br>
            latitude: {{sen.latitude}} longitude: {{sen.longitude}}
        </li>
    </div>
   </div>
<!-- </div> -->
