<div class="left">
  <button mat-icon-button color="warn" [routerLink]="['/situation']" [routerLinkActive]="'is-active'" aria-label="Example icon button with a heart icon">
    <mat-icon>track_changes</mat-icon>
  </button>
  <button mat-icon-button color="warn" [routerLink]="['/statistic']" [routerLinkActive]="'is-active'" aria-label="Example icon button with a heart icon">
    <mat-icon>insert_chart</mat-icon>
  </button>
  <button mat-icon-button color="warn" [routerLink]="['/history']" [routerLinkActive]="'is-active'" aria-label="Example icon button with a heart icon">
    <mat-icon>history</mat-icon>
  </button>
  <button mat-icon-button color="warn" [routerLink]="['/sensors']" [routerLinkActive]="'is-active'" aria-label="Example icon button with a heart icon">
    <mat-icon>surround_sound</mat-icon>
  </button>
  <button mat-icon-button color="warn" [routerLink]="['/settings']" [routerLinkActive]="'is-active'" aria-label="Example icon button with a heart icon">
    <mat-icon>settings</mat-icon>
  </button>
</div>
