<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>
    <script crossorigin="anonymous"
            integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
            src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha512-lyIq9fRcCeSCXhp41XC/250UBmypAHV8KW+AhLcSEIksWHBfhzub6XXwDe67wTpOG8zrO2NAU/TYmEaCW+aQSg=="
            src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.js"></script>
    <!--    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <!--    <script src="/webjars/jquery/jquery.min.js"></script>-->
    <!--    <script src="/webjars/sockjs-client/sockjs.min.js"></script>-->
    <!--    <script src="/webjars/stomp-websocket/stomp.min.js"></script>-->
    <script src="../static/js/app.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div class="container" id="main-content">
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect">WebSocket connection:</label>
                    <button class="btn btn-default" id="connect" type="submit">Connect</button>
                    <button class="btn btn-default" disabled="disabled" id="disconnect" type="submit">Disconnect
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>