<div class="center">
    <div class="title">
       <strong>Статистика</strong>
    </div>
    <div class="container">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <p>Фільтри</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <!-- <filter-stat></filter-stat> -->
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-tab-group mat-align-tabs="center" dynamicHeight>
          <mat-tab label="Графіки">              
            <mat-card class="diagram">
            <canvas baseChart
              [data]="pieChartData"
              [labels]="pieChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [colors]="pieChartColors"
              [legend]="pieChartLegend">
            </canvas>
            </mat-card>
          </mat-tab>
          <mat-tab label="Карти">Карти</mat-tab>
          <mat-tab label="Таблиці">Таблиці</mat-tab>
        </mat-tab-group>
    </div>
</div>
