<div class="horizontal-bar">
  <mat-button-toggle-group appearance="legacy" name="navbar" [value]="'sensor'" vertical (click)="sidebar()">
    <mat-button-toggle value="event">
      <mat-icon style="
      height:22px !important;
      width:22px !important;
      font-size:22px !important;
      transition: 400ms;
      margin-left: -13px;
      margin-top: -5px;
    " class="i_navig">new_releases</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="sensor">
      <mat-icon style="
      height:22px !important;
      width:22px !important;
      font-size:22px !important;
      transition: 400ms;
      margin-left: -13px;
      margin-top: -5px;
    ">surround_sound</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
  <!-- <div class="navig">
    <button class="b_navig" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
     
    </button>
    <button class="b_navig" mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
      
    </button>
  </div>  -->

  <div *ngIf="false" class="content">
    <div class="content">
    </div>
  </div>

  <!-- <time-line>
  </time-line> -->
</div>