.absolute{
    background-color: white;
    position: absolute;
    z-index: 10000;
    top: 0%; left: 0%;
    width: 100%; height: 100%;
}
.center{
    margin-top: 7%;
    position: relative;
    background-color: white;
    height: 65%; width: 25%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 8px grey;
    text-align: center;
    border-radius: 3%;
}
.title{
    font-size: 40px;
    font-family: 'Noto Sans', sans-serif;
    color: lightblue;
    text-shadow: 1px 1px 1px grey;
    margin-bottom: 30px;
}
.username, .password{
    text-align: center;
    color: white;
    height: 5%;
    border-radius: 2%;
    border: none;
    background-color: lightblue;
    width: 80%;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
.username{
    margin-top: 10%;
}
.password{
    margin-top: 5%;
}
.accept{
    color: white;
    font-size: 32px;
    margin-top: 20%;
    margin-bottom: 35%;
    width: 90%;
    height: 10%;
    background-color: lightblue;
    border: none;
    box-shadow: 0px 0px 2px lightslategray;
    text-shadow: 1px 1px 1px grey;

    border-radius: 5%;
}
.top-line{
    border-top: solid 2px lightblue;
    color: lightblue;
    text-align: right;
}